# mandatory options
wg_endpoint={% if inventory_hostname != '127.0.0.1' %}{{ inventory_hostname }}{% else %}{{ ansible_default_ipv4.address }}{% endif %}{{''}}
wg_ip={{ wg_ip | default('10.10.10.1') }}
wg_port={{ wg_port | default(wg_default_port) }}
wg_clients={{ wg_clients | default('5') }}
wg_dns={{ wg_dns | default('1.1.1.1') }}
# valid tunnel types: split, full
wg_tunnel='{{ wg_tunnel | default('split') }}'

# optional options
{% if wg_users is defined %}wg_users='{{ wg_users }}'{% endif %}{{''}}
{% if wg_repo is defined %}wg_repo='{{ wg_repo }}'{% endif %}{{''}}
{% if wg_credential is defined %}wg_credential='{{ wg_credential }}'{% endif %}{{''}}
